{% extends "auctions/layout.html" %}

{% block body %}
    <p>{{ listing.title }}</p>
    <p>{{ listing.description }}</p>
    <p>{{ total_bids }} Bid (s) so far</p>
    <p>Highest Bid: {{ max_bid }}</p>

    <form action="{% url 'listing-page' listing.id %}" method="POST">
        {% csrf_token %}

        <label>Place new bid:</label>
        <input name="new_bid" type="number" placeholder="{{ listing.bid }}">
        <input name="listing_id" type="number" hidden value={{ listing.id }}>
        <input type="submit" value="Submit">
    </form>



    <form action="{% url 'add-to-watchlist' listing.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">
            {% if in_watchlist %}
                Remove From Watchlist
            {% else %}
                Add to Watchlist
            {% endif %}
        </button>
    </form>

{% endblock body %}